<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bikage</title>
    <meta name="description" content="Approximate personal distance covered on a citi bike">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
    <body>
      <div class="container">
        <div class="jumbotron col-md-8 col-md-offset-2">
          <h1>
            Bikage
            <small id="loading" style="display: none;">
              <div id="loader">
                <div id="d1"></div>
                <div id="d2"></div>
                <div id="d3"></div>
                <div id="d4"></div>
              </div>
            </small>
          </h1>
          <form id="login" role="form" action="#">
            <p class="lead">
              Check out how many miles you've covered on your Citi Bike!
            </p>
            <div class="form-group">
              <input type="text" class="form-control" id="username" name="username" placeholder="Citibike Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Citibike Password">
            </div>
            <button type="submit" class="btn btn-block btn-primary">Try it</button>
          </form>

          <div id="display_distance" style="display: none;">
            <p id="total"></p>
            <canvas id="distances" width="660" height="400"></canvas>
            <p class="legend"><i>Distance by day (km)</i></p>
          </div>

          <div id="display_speed" style="display: none;">
            <p id="speed"></p>
            <canvas id="speeds" width="660" height="400"></canvas>
            <p class="legend"><i>Avg Speed by day (km)</i></p>
          </div>
        </div>
      </div>
      <a href="https://github.com/Bowbaq/bikage">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
      </a>

      <script src="js/vendor/jquery-1.11.1.min.js"></script>
      <script src="js/vendor/Chart.min.js"></script>
      <script>
        $(document).ready(function(){
          var $login = $("#login");
          var $username = $("#username")
          var $password = $("#password")

          var $display_distance = $("#display_distance");
          var $display_speed = $("#display_speed");
          var $loading = $("#loading")
          var $total = $("#total");
          var $speed = $("#speed");
          var $distance_canvas = document.getElementById("distances");
          var $speed_canvas = document.getElementById("speeds");
          var distance_ctx = $distance_canvas.getContext("2d");
          var speed_ctx = $speed_canvas.getContext("2d");

          var options = {
            animation: false,
            scaleFontColor: "#fff",
            scaleBeginAtZero: true
          };

          function create_distance_chart(distances, days){
            var data = {
              labels: days,
              datasets: [
                {
                  fillColor: "rgba(220,220,220,0.5)",
                  strokeColor: "rgba(220,220,220,1)",
                  pointColor: "rgba(220,220,220,1)",
                  pointStrokeColor: "#fff",
                  data: distances
                }
              ]
            };
            new Chart(distance_ctx).Bar(data, options);
          }

          function create_speed_chart(speeds, days){
            var data = {
              labels: days,
              datasets: [
                {
                  fillColor: "rgba(220,220,220,0.5)",
                  strokeColor: "rgba(220,220,220,1)",
                  pointColor: "rgba(220,220,220,1)",
                  pointStrokeColor: "#fff",
                  data: speeds
                }
              ]
            };
            new Chart(speed_ctx).Line(data, options);
          }

          function load_data(cached) {
            var url = "/api/stats"
            if(cached) { url += "?cached=true"; }

            return $.ajax(url, {
              type: "POST",
              dataType: 'json',
              data: JSON.stringify({Username: $username.val(), Password: $password.val()})
            });
          }

          $login.submit(function(e){
            e.preventDefault();

            load_data(true).done(function(stats){
              $total.text("You have covered " + stats.Distance + " on your Citi Bike.");
              $speed.text("Your average speed is " + stats.Speed + ".");
              create_distance_chart(stats.DailyDistances, stats.Days);
              create_speed_chart(stats.DailySpeeds, stats.Days);

              $login.slideUp(200, function(){
                $display_distance.fadeIn();
                $display_speed.fadeIn();
                $loading.fadeIn();
              });

              load_data(false).done(function(stats){
                $total.text("You have covered " + stats.Distance + " on your Citi Bike.");
                $speed.text("Your average speed is " + stats.Speed + ".");
                create_distance_chart(stats.DailyDistances, stats.Days);
                create_speed_chart(stats.DailySpeeds, stats.Days);
                $loading.text("up to date");
              })
            });
          });
        });
      </script>
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-52139321-1');ga('send','pageview');
      </script>
    </body>
</html>