<p>You have covered {{.Distance}} on your citibike.</p>
<canvas id="distances" width="660" height="400"></canvas>
<p class="legend"><i>Distance by day (km)</i></p>
{{if .DailyDistances}}
<script src="js/vendor/Chart.min.js"></script>
<script>
  var canvas = document.getElementById("distances")
  var ctx = canvas.getContext("2d");

  var data = {
    labels: {{.Days}},
    datasets: [
      {
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        data: {{.DailyDistances}}
      }
    ]
  };

  var options = {
      scaleFontColor: "#fff",
      scaleLabel: "<%=value.slice(0, -1)%>"
  };

  new Chart(ctx).Bar(data, options);
</script>
{{end}}
